*, *:before, *:after {
    box-sizing: inherit;
}
.light-theme {
    --background-color: #FFF1DD;
    --background-color-secondary: white;
    --color-label-text: rgb(168, 101, 0); 
}

.dark-theme {
    --background-color: #000435;
    --background-color-secondary: #212557;
    --color-label-text: white; 
}

html {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#root {
    height: 100%;
    width: 100%;
}
