*, *:before, *:after {
    box-sizing: inherit;
}
.light-theme {
    --background-color: #FFF1DD;
    --background-color-secondary: white;
    --color-label-text: rgb(168, 101, 0);
    --generic-button-color: #47b960;
    --generic-button-border-color: #43634a;
    --translate-y: 0;
    --translate-x: 0;
}

.dark-theme {
    --background-color: #000435;
    --background-color-secondary: #212557;
    --color-label-text: white; 
    --generic-button-color: #31c5ff;
    --generic-button-border-color: #0b455c;
    --translate-y: 0;
    --translate-x: 0;
}

html {
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

#root {
    height: 100%;
    width: 100%;
    --translate-y: 0;
    --translate-x: 0;
}
