.multipleOptionButton {
    min-width: 120px;
    min-height: 50px;
    background-color: var(--generic-button-color);
    cursor: pointer;
}

.multipleOptionButton:hover {
    transition: ease-in 0.2s;
    opacity: 1!important;
}

.multipleOptionButton:first-child {
    border-radius: 6px 0px 0px 6px;
    border-width: 0px 1px 0px 0px;
    border-color: var(--generic-button-border-color);
    border-style: solid;
}

.multipleOptionButton:last-child {
    border-radius: 0px 6px 6px 0px;
    border-width: 0px 0px 0px 1px;
    border-color: var(--generic-button-border-color);
    border-style: solid;
}

.customOneOptionButtonsWrapper {
    display: flex;
    align-items: center;
}