.drawOptionsInputHorizontal {
    width: 70%;
    display: grid;
    grid-template-columns: 50% 50%;
    align-self: center;
}

.drawOptionsInputVertical {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.drawOptions {
    display: flex;
    position: relative;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    background-color: var(--background-color);
    width: 100%;
    height: 97%;
}

.themeBtn {
    cursor: pointer;
    position: absolute;
    top: 5px;
    right: 5px;
}

.themeBtn:hover {
    animation: pulse 1s linear;
    filter: drop-shadow(1px 1px 12px yellow);
}
