.appWrapper {
    display: grid;
    grid-template-columns: 75% 25%;
    grid-template-rows: 100%;
    height: 100%;
    width: 100%;
    justify-items: center;
    align-items: center;
    caret-color: transparent;
    background-color: var(--background-color-secondary);
}

.colorInput {
    padding: 0;
    margin: 0;
    outline: 0;
    border: 0;
}

.colorInput:hover {
    opacity: 0.8;
    transition: ease-in 0.1s;
    cursor: pointer;
}

.genericDialog[open] {
    min-height: 300px;
    min-width: 600px;
    background-color: var(--background-color);
    border: none;
    border-radius: 6px;
    box-shadow: 0px 0px 33px 1px rgba(0,0,0,0.39);
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.genericDialog[open] h2 {
    color: rgb(168, 101, 0);
    font-family: "Irish Grover";
}

.genericDialogFooter {
    margin-top: auto;
    display: flex;
    justify-content: space-between;
}

.pulseAnimation {
    animation: pulse 1s linear;  
}

::-webkit-scrollbar {
    width: 10px;
    border-radius: 6px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: var(--background-color-secondary);
    border-radius: 6px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: var(--color-label-text);
    border-radius: 6px; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: var(--color-label-text); 
  }

@keyframes pulse {
    0% {
    transform: scale(1, 1);
   }
    50% {
    transform: scale(1.1, 1.1);
   }
    100% {
   transform: scale(1, 1);
   };
}