.menuTitle {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-height: 80px;
    background-color: var(--background-color-secondary);
    border-radius: 6px;
    min-width: 270px;
}

.menuTitleImage {
    margin-left: 20px; 
}

.menuTitleLabel {
    margin-right: 20px;
}